

.hero {
    height: 400px;
    width:100%;
    background-image: url('//unsplash.it/1366/400');
    background-position: center;
    display: grid;
    place-content: center;
    margin-top: 30px;

}

.skills{
    margin-top: 20px;
    width: 100%;
    height: 300px;
    border:1px solid green;
}


